1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE 
FILEVERSION 1, 1, 0, 0
PRODUCTVERSION 1, 1, 0, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "041904E3"
  {
   VALUE "FileDescription", "OpenOffice.org Simple Viewer for TC\000"
   VALUE "InternalName", "OOView\000"
   VALUE "LegalCopyright", "Copyright © 2006-2007 Alexey Torgashin\000"
   VALUE "ProductName", "OpenOffice.org Simple Viewer for TC\000"
   VALUE "ProductVersion", "1.1\000"
   VALUE "CompanyName", "Alexey Torgashin\000"
   VALUE "Comments", "http://atorg.net.ru\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1049, 1251
 }

}
