1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE 
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "041904E3"
  {
   VALUE "FileDescription", "File Thumbnails for TC\000"
   VALUE "InternalName", "File Thumbnails\000"
   VALUE "LegalCopyright", "(c) 2005 Alexey Torgashin\000"
   VALUE "ProductName", "File Thumbnails for TC\000"
   VALUE "ProductVersion", "1.0\000"
   VALUE "CompanyName", "Atl-Soft\000"
   VALUE "Comments", "http://alextpp.narod.ru\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1049, 1251
 }

}
