1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE 
FILEVERSION    2, 6, 1, 0
PRODUCTVERSION 2, 6, 1, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "041904E3"
  {
   VALUE "FileDescription", "File Descriptions for TC\000"
   VALUE "ProductName",     "File Descriptions for TC\000"
   VALUE "InternalName",    "File Descriptions\000"
   VALUE "LegalCopyright",  "© 2005 Alexey Torgashin\000"
   VALUE "FileVersion",     "2.6.1\000"
   VALUE "ProductVersion",  "2.6.1\000"
   VALUE "CompanyName",     "Atl-Soft\000"
   VALUE "Comments",        "http://alextpp.narod.ru\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1049, 1251
 }

}
