1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE 
FILEVERSION    1, 7, 0, 0
PRODUCTVERSION 1, 7, 0, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "041904E3"
  {
   VALUE "FileDescription", "OOoViewer\000"
   VALUE "ProductName",     "OOoViewer\000"
   VALUE "InternalName",    "OOoViewer\000"
   VALUE "LegalCopyright", "Copyright © 2006-2007 Alexey Torgashin\000"
   VALUE "ProductVersion", "1.7\000"
   VALUE "CompanyName", "Alexey Torgashin\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1049, 1251
 }

}
